body{
  width: 100%;
  line-height: 1.8em;
  font-feature-settings: "pwid";
  margin: 0;
  padding: 0;
}

.header_contentBox {
  width: 100%;
  height: 140px;
  background-color: #212121;
  display: flex;
}

.header_innerBox {
  width: 80%;
  margin: 0 auto;
  height: 140px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 75px;
  height: 75px;
}

#menuDrower {
  z-index: 40;
  display: none;
}

.header_list {
  display: flex;
  color: white;
  list-style: none;
}

.header_list li {
  padding: 0 32px;
  border-right: solid 1px #fff;
}

.header_list li:last-child {
  border-right: none;
}

.footer_contentBox {
  width: 100%;
  background-color: #212121;
}

.footer_list {
  display: flex;
  justify-content: center;
  color: #ffffff;
  list-style: none;
  padding-top: 64px;
}

.footer_list li {
  padding: 0 32px;
  border-right: solid 1px #ffffff;
}

.footer_list li:last-child {
  border-right: none;
}

.copyright {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  color: #999999;
  padding: 64px 0;
  margin: 0;
}

@media screen and (max-width: 900px) {

  .header_contentBox {
    height: 80px;
  }
  
  .header_innerBox {
    height: 80px;
  }
  
  .header_logo {
    width: 56px;
    height: 56px;
  }

  #menuDrower {
    display: block;
    z-index: 10000;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 15px;
  }

  #menuDrower,
  #menuDrower span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  #menuDrower span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    z-index: 200;
    transition-duration: 0.3s;
  }

  #menuDrower span:nth-of-type(1) {
    top: 0;
  }

  #menuDrower span:nth-of-type(2) {
    top: 6px;
  }

  #menuDrower span:nth-of-type(3) {
    bottom: 0;
  }

  #menuDrower.active span:nth-of-type(1) {
    -webkit-transform: translateY(6.5px) rotate(-45deg);
    transform: translateY(6.5px) rotate(-45deg);
  }

  #menuDrower.active span:nth-of-type(2) {
    opacity: 0;
  }

  #menuDrower.active span:nth-of-type(3) {
    -webkit-transform: translateY(-6.5px) rotate(45deg);
    transform: translateY(-6.5px) rotate(45deg);
  }

  .header_list {
    display: flex;
    color: white;
    list-style: none;
  }

  .header_list li {
    padding: 0 32px;
    border-right: solid 1px #fff;
  }

  .header_list li:last-child {
    border-right: none;
  }

  .footer_contentBox {
    width: 100%;
    background-color: #212121;
  }

  .footer_list {
    display: flex;
    justify-content: center;
    color: #ffffff;
    list-style: none;
    padding-top: 64px;
  }

  .footer_list li {
    padding: 0 32px;
    border-right: solid 1px #ffffff;
  }
  
  .footer_list li:last-child {
    border-right: none;
  }
  
  .copyright {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    color: #999999;
    padding: 64px 0;
    margin: 0;
  }

}