body{
  width: 100%;
  overflow-x: hidden;
  line-height: 1.8em;
  font-feature-settings: "pwid";
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

.header-contentBox {
  width: 100%;
  height: 140px;
  background-color: #212121;
  z-index: 100;
}

.header-innerBox {
  width: 80%;
  margin: 0 auto;
  height: 140px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 75px;
  height: 75px;
}

#menuDrower {
  position: fixed;
  z-index: 40;
  display: none;
}

.header-contentBox__navBox{
  display: none;
}

.header-list {
  display: flex;
  color: white;
  list-style: none;
}

.header-list li {
  padding: 0 32px;
  border-right: solid 1px rgba(255,255,255,0.12);
}

.header-list li a {
  text-decoration: none;
  color: #ffffff;
}

.header-list li:last-child {
  border-right: none;
}

.footer_contentBox {
  width: 100%;
  background-color: #212121;
}

.footer_list {
  display: flex;
  justify-content: center;
  color: #ffffff;
  list-style: none;
  padding-top: 64px;
}

.footer_list li {
  padding: 0 32px;
  border-right: solid 1px rgba(255,255,255,0.12);
}

.footer_list li a {
  text-decoration: none;
  color: #ffffff;
}

.footer_list li:last-child {
  border-right: none;
}

.copyright {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  color: #999999;
  padding: 64px 0;
  margin: 0;
}

@media screen and (max-width: 900px) {

  .header-contentBox {
    height: 80px;
  }

  .header-contentBox__navBox {
    display: block;
  }

  .header-innerBox {
    height: 80px;
  }

  .header-innerBox a {
    height: 48px;
  }

  .header-logo {
    width: 48px;
    height: 48px;
  }

  #hiddenArea {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 40%;
    height: 100vh;
    background-color: #212121;
    opacity: 0;
    transition-duration: 0.4s;
    z-index: -10000;
  }

  #menuDrower {
    display: block;
    z-index: 10000;
    top: 20px;
    left: calc(100vw - 40px);
    width: 20px;
    height: 15px;
  }

  #menuDrower,
  #menuDrower span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  #menuDrower span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    z-index: 100;
    transition-duration: 0.3s;
  }

  #menuDrower span:nth-of-type(1) {
    top: 0;
  }

  #menuDrower span:nth-of-type(2) {
    top: 6px;
  }

  #menuDrower span:nth-of-type(3) {
    bottom: 0;
  }

  #menuDrower.active span:nth-of-type(1) {
    -webkit-transform: translateY(6.5px) rotate(-45deg);
    transform: translateY(6.5px) rotate(-45deg);
  }

  #menuDrower.active span:nth-of-type(2) {
    opacity: 0;
  }

  #menuDrower.active span:nth-of-type(3) {
    -webkit-transform: translateY(-6.5px) rotate(45deg);
    transform: translateY(-6.5px) rotate(45deg);
  }

  .header-list {
    display: none;
  }

  .header-list__sp {
    position: fixed;
    top: 0;
    z-index: 1000;
    right: -60%;
    display: block;
    color: white;
    list-style: none;
    background-color: #212121;
    width: 60%;
    text-align: center;
    height: 100vh;
    transition-duration: 0.25s;
  }

  .header-list__sp li {
    padding: 24px 0;
    border-right: none;
  }

  .header-list__sp li a {
    text-decoration: none;
    color: #fff;
  }

  .header-list__sp li:first-child {
    margin-top: 64px;
  }

  .footer_contentBox {
    width: 100%;
    background-color: #212121;
    overflow-x: hidden;
  }

  .footer_list {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
  }

  .footer_list li {
    padding: 0 16px;
    margin: 16px 0;
    border-right: none;
  }

  .copyright {
    font-size: 12px;
    padding: 32px 0;
  }

}