body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-feature-settings: "palt";
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.mv {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../data/photo/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mv_textBox {
  color: white;
  width: 50%;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mv_textBox h1 {
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.mv_textBox h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 24px 0 0 0;
  text-align: center;
}

.content_box__left {
  margin: 64px auto;
  width: calc(100vw - 128px);
  height: 500px;
  position: relative;
}

.content_box__right {
  margin: 64px auto;
  width: calc(100vw - 128px);
  height: 500px;
  position: relative;
}

.content_box__left .content_textBox {
  right: 0;
}

.content_box__right .content_textBox {
  left: 0;
}

.content_imgBox {
  height: 500px;
}

.content_imgBox img {
  width: calc(70% - 32px);
  height: 500px;
  object-fit: cover;
}


.content_box__left .content_imgBox {
  left: 0;
}

.content_box__left .content_imgBox img {
  left: 0;
}

.content_box__right .content_imgBox {
  position: relative;
  right: 0;
}

.content_box__right .content_imgBox img {
  position: absolute;
  right: 0;
}

.content_textBox {
  position: absolute;
  width: calc(50% - 32px);
  height: 250px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.content_textBox h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.content_textBox h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 8px 0 16px 2px;
}

.content_textBox p {
  font-size: 20px;
  font-weight: 300;
  margin: 32px 0 32px 0;
  letter-spacing: 0.1em;
}

.content_boxRight {
  width: calc(100vw - 128px);
  margin: 64px auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.content_boxLeft {
  width: calc(100vw - 128px);
  margin: 64px auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.content__imageBox {
  height: 500px;
}

.content__imageBox img {
  height: 100%;
}

.content__textBox {
  width: 800px;
  margin: 0 64px 0 64px;
}

.content__textBox h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.content__textBox h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 8px 0 16px 2px;
}

.content__textBox p {
  font-size: 20px;
  font-weight: 300;
  margin: 32px 0 32px 0;
  letter-spacing: 0.1em;
}

.content__textBox__button {
  width: 160px;
  height: 48px;
  font-size: 16px;
  border-radius: 24px;
  background-color: white;
  border: solid 1px #999999;
}

.sub {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* transform: scale(0.8);
  transform: translate(0 200px); */
}

.sub_textBox {
  width: 70%;
  max-width: 1000px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 164px;
  margin: auto;
}

.sub_textBox h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  color: white;
}

.sub_textBox h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5em;
  margin: 8px 0 16px 0;
  color: white;
}

.sub_textBox button {
  width: 240px;
  height: 44px;
  font-size: 16px;
  border-radius: 22px;
  background-color: white;
  border: solid 1px #999999;
}

.detail {
  margin: 32px;
}

.detail_contentBox {
  width: calc(100vw - 128px);
  margin: 64px auto;
  display: flex;
  justify-content: space-between;
}

.detail_contentBox__left {
  width: 32%;
  height: 600px;
  border-radius: 8px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/6.jpg);
  background-size: cover;
  position: relative;
}

.detail_contentBox__center {
  width: 32%;
  height: 600px;
  border-radius: 8px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/7.jpg);
  background-size: cover;
  position: relative;
}

.detail_contentBox__right {
  width: 32%;
  height: 600px;
  border-radius: 8px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/9.jpg);
  background-size: cover;
  position: relative;
}

.detail_contentBox__text {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.3em;
  color: white;
}

[data-aos=fade-up] {
  transform: translate3d(0,32px,0);
}

[data-aos=fade-left] {
  transform: translate3d(300px,0,0);
}

[data-aos=fade-right] {
  transform: translate3d(-300px,0,0);
}
