body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-feature-settings: "palt";
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.mv {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../data/photo/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mv_textBox {
  color: white;
  width: 50%;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mv_textBox h1 {
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.mv_textBox h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 24px 0 0 0;
  text-align: center;
}

.content_box__left {
  margin: 64px auto;
  width: calc(100vw - 128px);
  height: 500px;
  position: relative;
}

.content_box__right {
  margin: 64px auto;
  width: calc(100vw - 128px);
  height: 500px;
  position: relative;
}

.content_box__left .content_textBox {
  right: 0;
}

.content_box__right .content_textBox {
  left: 16vw;
}

.content_imgBox {
  height: 500px;
}

.content_imgBox img {
  height: 500px;
  object-fit: cover;
}

.smallImg {
  width: calc(40% - 32px);
}

.middiumImg {
  width: calc(55% - 32px);
}

.largeImg {
  width: calc(70% - 32px);
}


.content_box__left .content_imgBox {
  left: 0;
}

.content_box__left .content_imgBox img {
  left: 0;
}

.content_box__right .content_imgBox {
  position: relative;
  right: 0;
}

.content_box__right .content_imgBox img {
  position: absolute;
  right: 0;
}

.content_textBox {
  position: absolute;
  width: calc(50% - 32px);
  height: 250px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.content_textBox h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.content_textBox h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 8px 0 16px 2px;
}

.content_textBox p {
  font-size: 20px;
  font-weight: 300;
  margin: 32px 0 32px 0;
  letter-spacing: 0.1em;
}

.content_textBox__button {
  width: 160px;
  height: 48px;
  font-size: 16px;
  border-radius: 24px;
  background-color: white;
  border: solid 1px #999999;
}

.sub {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sub_textBox {
  width: 100%;
  max-width: 720px;
  max-width: 1000px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 164px;
  margin: auto;
  z-index: 2;
}

.sub_textBox h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: white;
}

.sub_textBox h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 16px 0 32px 0;
  letter-spacing: 0.1em;
  color: white;
}

.sub_textBox button {
  width: 280px;
  height: 48px;
  font-size: 16px;
  border-radius: 24px;
  background-color: white;
  border: solid 1px #999999;
}

.sub_imgBox {
  width: 92vw;
  height: 92vh;
  transform: translateY(10vh);
  margin: 0 auto;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-out
}

.sub_imgBox__img {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.detail {
  margin: 64px 0;
}

.detail_contentBox {
  width: calc(100vw - 128px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.detail_contentBox__inner {
  width: 32%;
  height: 40vw;
  border-radius: 16px;
  overflow: hidden;
}

.detail_contentBox__left {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/6.jpg);
}

.detail_contentBox__center {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/7.jpg);
}

.detail_contentBox__right {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/9.jpg);
}

.detail_contentBox__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  transform: translate3d(0,0,0);
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.detail_contentBox__img:hover {
  transform: translate3d(0,0,0);
  transform: scale(1.1);
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.detail_contentBox__text {
  position: absolute;
  left: 24px;
  bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.3em;
  z-index: 2;
  color: white;
}

[data-aos=fade-up] {
  transform: translate3d(0,32px,0);
}

[data-aos=fade-left] {
  transform: translate3d(100px,0,0);
}

[data-aos=fade-right] {
  transform: translate3d(-100px,0,0);
}

@media screen and (max-width: 600px) {
  .header {
    height: 60px;
  }

  .mv_textBox {
    width: 85%;
    height: 264px;
  }

  .mv_textBox h1 {
    font-size: 40px;
  }

  .mv_textBox h2 {
    font-size: 16px;
    margin: 16px 0 0 0;
  }

  .content_box__left {
    margin: 48px auto;
    height: 414px;
    width: calc(100vw - 48px);
  }

  .content_box__right {
    margin: 48px auto;
    height: 414px;
    width: calc(100vw - 48px);
  }

  .content_box__left .content_textBox {
    right: 0;
    left: 0;
    margin: auto;
  }

  .content_box__right .content_textBox {
    right: 0;
    left: 0;
    margin: auto;
  }

  .content_imgBox {
    height: 200px;
  }

  .content_imgBox img {
    height: 200px;
  }

  .smallImg {
    width: 100%;
  }

  .middiumImg {
    width: 100%;
  }

  .largeImg {
    width: 100%;
  }

  .content_textBox {
    position: absolute;
    width: 100%;
    height: 194px;
    top: 220px;
    bottom: inherit;
    margin: inherit;
    z-index: 2;
  }

  .content_textBox h2 {
    font-size: 20px;
    margin-top: 0;
  }

  .content_textBox h3 {
    font-size: 12px;
    margin: 8px 0 16px 2px;
  }

  .content_textBox p {
    font-size: 16px;
    font-weight: 300;
    margin: 16px 0;
    letter-spacing: 0.1em;
  }

  .content_textBox__button {
    width: 160px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    display: block;
    margin: 0 auto;
  }

  .sub {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .sub_textBox {
    width: calc(100% - 48px);
    max-width: 500px;
    height: 216px;
    position: absolute;
    top: inherit;
    bottom: 48px;
    left: 24px;
    margin: inherit;
    z-index: 2;
  }
  
  .sub_textBox h1 {
    font-size: 24px;
  }
  
  .sub_textBox h2 {
    font-size: 16px;
    margin: 16px 0 32px 0;
  }
  
  .sub_textBox button {
    width: 240px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    display: block;
    margin: 0 auto;
  }
  
  .sub_imgBox {
    width: 92vw;
    height: 92vh;
    transform: translateY(10vh);
    margin: 0 auto;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-out
  }
  
  .sub_imgBox__img {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(../data/photo/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detail {
    margin: 48px 0;
  }

  .detail_contentBox {
    width: calc(100vw - 48px);
    margin: 0 auto;
    display: block;
  }

  .detail_contentBox__inner {
    width: 100%;
    height: 140px;
    margin: 16px 0;
  }

  .detail_contentBox__text {
    position: absolute;
    left: 16px;
    bottom: 8px;
    font-size: 20px;
    font-weight: 300;
  }
}
